<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Detail Pegawai</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

	<div class="container-fluid">
	<h2>Tambah Pegawai</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Form Tambah Pegawai
				</div>
				<div class="card-body">
					<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
						Nama: <br>
						<input type="text" name="nama" class="form-control" />
						<br>
						Tempat Lahir: <br>
						<input type="text" name="tempatLahir" class="form-control" />
						<br>
						Tanggal Lahir: <br>
						<input type="date" name="tanggalLahir" class="form-control" />
						<br>
						Tahun Masuk: <br>
						<input type="number" name="tahunMasuk" class="form-control" />
						<br>
						Provinsi: <br>
						<div class="form-group blu-margin">
							<select class="form-control" id="dropProvinsi" name="provinsi">
								<option value="">--Pilih Provinsi--</option>
								<option th:each="provinsi : ${provinsiAll}"
										th:value="${provinsi}"
										th:text="${provinsi.nama}"></option>
							</select>
						</div>
						<br>
						Nama Instansi: <br>
						<div class="form-group blu-margin">
							<select class="form-control" id="dropInstansi" name="instansi">
								<option value="">--Pilih Instansi--</option>
								<option th:each="instansi : ${instansiAll}"
										th:value="${instansi}"
										th:text="${instansi.nama}"></option>
							</select>
						</div>
						<br>
						Jabatan: <br>
						<div class="form-group blu-margin">
							<select class="form-control" id="dropJabatan" name="jabatan">
								<option value="">--Pilih Jabatan--</option>
								<option th:each="jabatan : ${jabatanAll}"
										th:value="${jabatan}"
										th:text="${jabatan.nama}"></option>
							</select>
						</div>
						<br><br>
						<button type="submit" class="btn btn-primary">Simpan</button>
					</form>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>