<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home Page</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

	<div class="container-fluid">
	<h2>Sistem Informasi Kepegawaian</h2>
	<p>Selamat datang di Sistem Informasi Kepegawaian</p>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Lihat Data Pegawai berdasarkan NIP
				</div>
				<form th:action="@{/pegawai}" method="GET">
					<div class="card-body">
						<p class="card-text">Masukan Nomor Induk Pegawai</p>
						<input type="text" name="nip" class="form-control" />
						<p></p>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Lihat Detail Jabatan
				</div>
				<form th:action="@{/jabatan/view}" method="GET">
					<div class="card-body">
						<p class="card-text">Pilih Jabatan</p>
						<div class="form-group blu-margin">
							<select class="form-control" id="dropJabatan" name="idJabatan">
								<option value="">--Pilih Jabatan--</option>
								<option th:each="jabatan : ${jabatanAll}"
										th:value="${jabatan.id}"
										th:text="${jabatan.nama}"></option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Lihat Pegawai Termuda dan Tertua
				</div>
				<form th:action="@{/pegawai/termuda-tertua}" method="GET">
					<div class="card-body">
						<p class="card-text">Pilih Instansi</p>
						<div class="form-group blu-margin">
							<select class="form-control" id="dropInstansi" name="idInstansi">
								<option value="">--Pilih Instansi--</option>
								<option th:each="instansi : ${instansiAll}"
										th:value="${instansi.id}"
										th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	<br>
</body>